ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: antiquewhite;
    overflow: hidden;
}
li{
    float: left;
}
li a{
    display: block;
    color: #0800ff;
    text-align: center;
    padding: 30px;
    text-decoration: dotted;

}
li a:hover{
    background-color: blueviolet;
}

h2



























